[2020-04-07 16:23] zenorocha opened #1 "Move to Dracula organization"
Hey @danerwilliams, would you like to move this repository to the Dracula organization?

You would continue to be the maintainer and everything else, but we would consider it an official theme and also add a page on draculatheme.com.

Let me know what you think ;)

[2020-04-07 16:35] danerwilliams commented on #1
Sure! I think that would be awesome! What would next steps look like?

[2020-04-07 17:16] zenorocha commented on #1
I just sent you an invite to join the organization. Once you do that, you can transfer the repository.

After transferring, there are a couple of things we'll need for the site:
* Make sure you add a INSTALL.md file (https://github.com/dracula/template/blob/master/INSTALL.md)
* Change `screenshot.jpg`to `screenshot.png`
* Rename repo to `dracula/tmux`

Thanks!

[2020-04-07 17:46] danerwilliams commented on #1
Done! Anything else I need to do?

[2020-04-08 00:32] zenorocha commented on #1
It's now live! https://draculatheme.com/tmux 🎉 🎉 🎉

[2020-04-08 00:32] #1 closed

[2020-04-08 21:24] danerwilliams opened #4 "Powerline symbol support"
Add support for using powerline symbols in the tmux status bar. An example of this can be found on the [nord tmux](https://github.com/arcticicestudio/nord-tmux) theme:

[code]

The approach used here basically has two files, one of which is "no patched font file", which would look as it does currently with out powerline font. The other file would include the powerline font symbols for users that h

[2020-04-08 21:32] danerwilliams opened #5 "Cygwin compatibility: battery and network"
Add compatibility for retrieving battery and network information on cygwin. See scripts/battery.sh and scripts/network.sh for code details. There are multiple spots that look something like the code block below where compability would be added:

[code]

Really this just consists of adding a pipeline to retrieve the battery charging status, current percentage, and network SSID in each instance.

[2020-04-08 21:35] danerwilliams opened #6 "MinGW and MSYS compatibility: battery and network"
Add compatibility for retrieving battery and network information on MinGW / MSYS. See scripts/battery.sh and scripts/network.sh for code details. There are multiple spots that look something like the code block below where compatibility would be added:

[code]

Really this just consists of adding a pipeline to retrieve the battery charging status, current percentage, and network SSID in each insta

[2020-04-09 03:38] JLineaweaver opened #7 "Different color for non-selected panes"
Any chance there can be an option to have non-selected panes be a slightly different color?  Looking for a way to better see which pane is selected.

[2020-04-10 05:32] danerwilliams opened #9 "Handle ipinfo.io request limit error gracefully"
If the user manages to reach the daily request limit from ipinfo.io (this shouldn't happen), then catch this and display an error message gracefully rather than raw json which fills the tmux status bar.

[2020-04-11 17:30] danerwilliams commented on #9
Fixed by @cnrmrphy in [Handling the 429 response limit error #10](https://github.com/dracula/tmux/pull/10)

[2020-04-11 17:30] #9 closed

[2020-04-18 13:03] SquallATF opened #11 "Ability to set custom site for network check or have a option to disable it"
Because China cannot access google.com.

[2020-04-20 19:14] RaphGL opened #12 "Add ability to remove battery, weather, location and smiley face"
The theme is fantastic, but as of right now only weather can be disabled. Some of the stuff that comes included seems unnecessary to me, being able to select which widgets I want and which ones I don't would be greatly appreciated.

[2020-04-20 20:35] danerwilliams commented on #12
Yes I agree! I've been looking in to adding this functionality so I'm glad you opened up an issue.

[2020-04-20 22:41] smarquez1 commented on #12
I added options to disable battery and network name.
Next I'd like to work on customizing the left section (which currently contains a smiley face). I think it should contain the session name by default but make it customizable.

Thanks for creating the theme btw!

[2020-04-21 00:16] danerwilliams commented on #11
Closing this issue thanks to [Add options to disable battery and network #13](https://github.com/dracula/tmux/pull/13). I am going to change the default ping from google.com to github.com since presumably anyone using this tmux extension would have access to github.com in their country.

[2020-04-21 00:16] #11 closed

[2020-04-21 00:20] danerwilliams commented on #12
Going to close this thanks to [Add options to disable battery and network #13](https://github.com/dracula/tmux/pull/13). Will open a new issue for the smiley face / session name on the left side of the status bar.

[2020-04-21 00:20] #12 closed

[2020-04-21 00:32] danerwilliams opened #14 "Change smiley face to current session on left side of status bar"
Related to discussion with @smarquez1 in [Add ability to remove battery, weather, location and smiley face #12](https://github.com/dracula/tmux/issues/12).

Change the smiley face on the left side of the status bar to have 3 options:
* Current smiley face (changes color based on prefix activation)
* Nothing at all
* Current session name

I'm curious if people have other ideas for this side of the

[2020-04-24 08:13] PowerSnail opened #15 "add Celsius support"
Is it possible to support Celsius for temperature?

Thanks!

[2020-04-24 17:04] danerwilliams commented on #15
Good idea. Let’s add another configuration option which allows for toggling between Fahrenheit and Celsius on the weather/temperature.

[2020-04-24 18:01] danerwilliams opened #16 "Rewrite weather module for international support"
Rewrite the weather module to scrape a site which supports countries outside of US.

Requirements:
* Continue using ipinfo.io for keyless api access to current location
* Scrape weather site (do not use an API key)
* Continue getting forecast to produce appropriate emoji
* Continue getting temperature (option of F or C)

Currently thinking the best site to scrape is wunderground.com because they h

[2020-04-29 05:56] be99inner opened #19 "Add custom ping site option"
Condition ping to `github.com` don't work correctly on network.sh.
It's always show Offline. Maybe `github.com` won't response for ICMP.

[code]
change dns to fix this.

[code]

[2020-04-29 06:20] danerwilliams commented on #19
can you give some steps to replicate the issue? I'm able to ping github.com just fine so I think that they respond to ICMP

![Screen Shot 2020-04-28 at 11 18 19 PM](https://user-images.githubusercontent.com/22798229/80565924-8ceadc80-89a6-11ea-9df0-9b3ad667fc11.jpg)

[2020-04-29 06:36] be99inner commented on #19
I had tried on my country(Thailand) and some GCP instance on Singapore, github is not response for my ping.
![image](https://user-images.githubusercontent.com/13174138/80566954-4f299a80-8a1e-11ea-8a3c-9675d8976067.png)

[2020-04-29 06:42] danerwilliams commented on #19
Ok. I think the best course of action is to create an option for setting a custom site to ping. It seems like there isn’t really a good site that everyone can universally access.

[2020-04-29 15:05] danerwilliams commented on #19
Just merged #20 which should fix the issue by using a list of hosts

[2020-04-29 15:05] #19 closed

[2020-04-29 18:36] danerwilliams commented on #15
#21

[2020-04-29 18:36] #15 closed

[2020-05-15 06:44] #4 closed

[2020-05-21 17:30] ethancedwards8 opened #25 "Bug: Battery indicator showing AC even when unplugged"
### Describe the bug
Battery indicator not working on laptop

### More details
When in tmux session, the battery status bar shows AC, like its plugged in, but it's actually not plugged in and should show the battery percentage.

### System
 - OS: Linux 5.4.28-gentoo-x86_64 (per `uame -sr`)
- Tmux Version: tmux 2.9a

[2020-05-21 21:32] ethancedwards8 opened #27 "Enhancement: Adding to the battery"
### Describe the feature you'd like
Fixing the battery component

### Describe ideas that you may have
I think using a method similar to neofetch would be helpful, I find the method it uses is very consistent and I've never had a problem with it. I wouldn't know how to do this just throwing an idea out there

[2020-05-21 23:20] danerwilliams commented on #27
#26

[2020-05-21 23:20] #27 closed

[2020-05-22 04:00] rtaibah opened #28 "Square artifacts appearing between section in the tmux line"
### Describe the bug
Square artifacts appearing beside the smiley face, the battery, and date.

### Screenshots
![Screen Shot 2020-05-22 at 6 56 36 AM](https://user-images.githubusercontent.com/707668/82629887-b7bcff00-9bf9-11ea-8139-ef39a73bd2bb.png)

### System
 - OS: Mac OSX
- Tmux Version: 3.1b

[2020-05-22 04:16] ethancedwards8 commented on #28
What terminal are you using? Some terminals won't support the theme. Like ST, from suckless has a hard time with powerline.

[2020-05-22 04:21] danerwilliams commented on #28
did you try to enable powerline? It appears that you don't have powerline installed.

either install powerline font, or just make sure that powerline is disabled which it should be disabled by default

[2020-05-22 04:24] rtaibah commented on #28
@ethancedwards8 I am using Hyper.

@danerwilliams No I haven't. I have airline.

[2020-05-22 04:27] danerwilliams commented on #28
do you have `set -g @dracula-show-powerline true` in your .tmux.conf? Otherwise you shouldn't be getting that

[2020-05-22 04:29] rtaibah commented on #28
Yes! That was the problem.

Embarrassing.

[2020-05-22 04:29] #28 closed

[2020-05-22 04:32] danerwilliams commented on #28
no problem :)

[2020-05-25 22:59] aquateen commented on #14
I would love to have the session name in the status bar 🙏

[2020-05-26 21:44] danerwilliams commented on #25
reopened because I noticed that the issue started occurring again

[2020-05-26 21:49] #14 closed

[2020-05-26 22:11] ginglis13 commented on #25
I think it might be a bash vs. zsh issue, now that mac uses zsh as default shell.

I ran this to test:

zsh:
[code]

No output, whereas with bash:

[code]

the conditional evaluates to true.

[2020-05-26 22:21] danerwilliams commented on #25
@ginglis13 that makes sense to me although `battery.sh` uses a bash shebang so wouldn't it not matter what shell you are using? I'm also using bash rather than zsh on my mac.

[2020-05-26 22:24] ginglis13 commented on #25
I see, maybe the shell itself isn't the issue here then

[2020-05-26 22:32] danerwilliams commented on #25
not really sure why this was the issue but double square brackets were added in at some point and that seemed to be causing the problem

[2020-05-26 22:33] #25 closed

[2020-05-27 20:06] sweenish opened #32 "Bug: Dracula theme causes MBP fans to go crazy"
### Describe the bug
If the theme is active, my MBP's fans go nuts.

### To Reproduce
Steps to reproduce the behavior:
1. Follow instructions to install Dracula theme to tux
2. Run tmux
3. Wait

### Expected behavior
tmux with Dracula theme without killing the laptop

### Screenshots
<img width="1847" alt="Screen Shot 2020-05-27 at 3 01 14 PM" src="https://user-images.githubusercontent.com/1804122

[2020-05-27 20:23] danerwilliams commented on #32
That's weird. Could you try and give some more information about your machine? For me it doesn't seem to cause any problems. I'm running with the default settings on tmux 3.0a from homebrew and macOS 10.15.3 on a 2016 mbp.

![Screen Shot 2020-05-27 at 1 20 28 PM](https://user-images.githubusercontent.com/22798229/83068227-db7aad80-a01c-11ea-9c97-dc302be01e07.jpg)

[2020-05-27 20:33] danerwilliams commented on #32
So that I can get more specific information on your tmux processes, can you run `ps aux | grep tmux` and send the results? This will show me more specifically the processes associated with your tmux.

[2020-05-27 20:37] sweenish commented on #32
Output of `ps aux | grep tmux` shortly after launching it and while my fans were starting to ramp up:

[code]

[2020-05-27 20:42] sweenish commented on #32
The screenshot you shared is what my tmux looks like the majority of the time, but it will hog most of the CPU pretty consistently, and the fans quickly ramp up and never stop.

[2020-05-27 20:44] danerwilliams commented on #32
Weird that you have 4 tmux processes running I only have two. I don't use fish so I'm not really sure what affect that might have. My bash is the default in os x, not the version installed by homebrew.

Maybe try running tmux while in the default bash shell as well as your homebrew installed bash shell and see if there is different behavior? I don't really know what to think tbh.

[2020-05-27 20:55] sweenish commented on #32
Using homebrew bash; output of `ps aux | grep tmux`
[code]

Default bash:
[code]

Since Catalina uses zsh as its default, here's one with the system zsh:
[code]

[2020-05-27 21:01] danerwilliams commented on #32
Weird. This behavior is really unusual to me and I am unable to replicate the bug. Seems like a good opportunity for a community PR.

[2020-05-27 21:13] sweenish commented on #32
I wonder if you tried updating your tmux to match mine, if the dracula theme then behaves similarly.

[2020-05-27 21:26] ginglis13 commented on #32
@sweenish I'm using the same tmux version as you on a 2016 mbp and haven't had the same issues w/ CPU usage.

It looks like in the configuration you shared above you have commented out some options, including the dracula theme. Do you experience the same issues w/ CPU usage when you are using default tmux? If you run prefix-R you will reload your tmux env.

[2020-05-27 21:31] sweenish commented on #32
The screenshots and `ps aux` output I pasted are all with the theme enabled. I currently have the theme disabled because tmux behaves just fine while the theme is disabled.

Here is `ps aux | grep tmux` output with fish and Dracula disabled.
[code]

I waited about a minute, as by that time my fans would be going nuts with the theme enabled.

[2020-05-27 21:32] ginglis13 commented on #32
@sweenish gotcha just wanted to double check since the original screenshot shows the theme but the conf you provided shows it commented out.

[2020-05-28 14:28] sweenish commented on #32
When I submitted this bug, it was due to the behavior of my work laptop. Having configured tmux for my personal MBP (2018 15", Catalina 10.15.5, 16 GB RAM, other specs same), with the same three plugins enabled (tpm, sensible, and Dracula), the theme is behaving just fine and my laptop has remained quiet.

I am willing to chalk this up to the management software or some other work configuration th

[2020-05-28 18:40] #32 closed

[2020-05-29 19:44] Sicnus opened #34 "Enhancement: Weather Module: Zip Code override"
I'm having an issue with the weather applet.  To me it seems the weather is being pulled from a city that's over 100 miles away from me? I see the code in ~/.tmux/plugins/tmux/scripts/weather.sh and I guess I could tweak that, but it'd be nice if I could simply put a zip code preference in my .tmux.conf file to override any magic IP location gathering bits:

**set -g @dracula-show-weather 31211**

[2020-05-30 05:42] ciehanski opened #36 "Enhancement: display CPU & memory usage"
### Describe the feature you'd like
It'd be nice to have dracula tmux include the option to enable the display of CPU & memory usage meters within the statusline similar to [tmux-mem-cpu-load](https://github.com/thewtex/tmux-mem-cpu-load).

### Describe risks you've considered
I'm really unsure.

### Describe alternatives you've considered
I've tried installing [tmux-mem-cpu-load](https://github.c

[2020-06-01 04:58] ethancedwards8 commented on #36
I'm taking a crack at it.

[2020-06-01 06:13] ethancedwards8 commented on #36
I solved it and made a PR :)

[2020-06-01 09:23] ciehanski commented on #36
@ethancedwards8 wow, amazing work!! I really appreciate it, this will be incredibly useful.

[2020-06-04 03:54] ethancedwards8 commented on #36
I just added RAM percentage support!

[2020-06-04 04:18] danerwilliams opened #42 "Enhancement: Make status bar modules / color more configurable"
### Describe the feature you'd like

Instead of just having enable / disable for the various modules (cpu, weather, battery, etc.) have a configuration option which accepts a list specifying the desired modules in the desired order for them to appear. There should also be a configuration option which specifies the corresponding dracula colors for these modules.

### Describe risks you've considere

[2020-06-10 20:12] cnrmrphy opened #43 "Enhancement: [Theme existing plugins]"
### Describe the feature you'd like
[First mentioned here](https://github.com/dracula/tmux/issues/36#issuecomment-642210300)
There are innumerable possible features that someone could want as part of their tmux theme. We can accommodate this much more effectively by relying on the many existing plugins for the tmux ecosystem rather than writing new modules to add each of these features. #42 will p

[2020-06-10 23:27] danerwilliams commented on #43
Thanks for opening this

[2020-06-14 01:57] ethancedwards8 commented on #42
I have an idea for how we would implement it. When we have the user specify the order of the modules in the .tmux.conf, we can store it as an array, then loop through it and display it that way. For the colors we will do the same thing. Just an idea.

[2020-06-14 02:12] danerwilliams commented on #42
Yes I may have been unclear about this but that’s is what I meant by accepting a list as a configuration options.

[2020-06-18 14:35] backpropper commented on #36
I'm aware of the above repository but the functionalities I mentioned above have not been implemented correctly in any plugin. The closest it comes to is the [https://github.com/tmux-plugins/tmux-cpu](https://github.com/tmux-plugins/tmux-cpu) repo which does not handle this.

Nonetheless, this kind of functionality is super useful for thousands of developers who use remote GPU servers such as in A

[2020-06-18 14:53] ethancedwards8 commented on #36
I still have the code for the GPU module, I can start working working on it again. I had just stopped because @danerwilliams said we need a way to implement it a different way. But I do have that code.

[2020-06-18 15:46] danerwilliams commented on #36
@backpropper @ethancedwards8 I’m in favor of trying to bring that functionality then.

Really appreciate your feedback.

[2020-06-18 16:47] ethancedwards8 commented on #36
So keep working on the code? Or not? I'm caught up in some work for my internship, so I can't work on the custom listing, but I can try finish up the GPU, and the RAM modules.

[2020-06-18 16:58] danerwilliams commented on #36
It sounds like there is a significant demand for the functionality @backpropper mentioned, so I would plan on merging that feature if you finished it.

You should probably open a new issue for it since it’s a bit different than RAM/CPU.

[2020-06-18 17:21] ethancedwards8 commented on #36
Okay, will do.

[2020-06-18 17:22] ethancedwards8 opened #45 "Enhancement: GPU usage"
### Describe the feature you'd like
GPU usage, in the bar

### Describe risks you've considered
None

### Describe alternatives you've considered
I have some code that works, I just haven't fixed all the issues yet, I will finish it when I have some time.

[2020-06-18 17:27] ethancedwards8 opened #46 "Enhancement: *BSD support"
### Describe the feature you'd like
Adding support for the *BSD systems

### Describe risks you've considered
May be hard to add more support

### Describe alternatives you've considered
None

[2020-06-18 17:29] ethancedwards8 commented on #46
How do I un-close? I accidentally closed it

[2020-06-25 17:56] ddiegosr opened #47 "Enhancement: Add panel zoom indication in status bar"
### Describe the feature you'd like
Add an indication in the status bar when a window has zoomed panels.

[2020-06-26 16:29] bashleigh opened #48 "Enhancement: [add this functionality] Uk date format"
### Describe the feature you'd like
would it be possible to add an option to change the date format or even use locale? Will look to see if I can add it myself but I'll be honest, haven't used shell much!

### Describe risks you've considered

### Describe alternatives you've considered

[2020-06-28 21:06] fernandoflorez opened #49 "Enhancement: Allow status-right customization"
It would be great to be able to override and have a custom status-right. For example I'd like to customize the datetime format to a one that currently reflects how we read date (day/month/year instead of month/day/year).

Also i'd like to add my custom scripts to display desired info.

I've found no way to even disable dracula's theme info.

[2020-06-28 22:43] danerwilliams commented on #49
Are you getting at the same idea as #43 ? Ideally we would like to make it so that each block in the status bar could be customized to whatever you like, in any order you like, with your own selection of dracula themed colors.

As for your specific desire to change the date format, you can always fork and edit scripts/dracula.sh to make it that format while we do not have further customization abi

[2020-06-28 22:52] #36 closed

[2020-06-28 22:57] danerwilliams commented on #16
I recently discovered [wttr.in](https://github.com/chubin/wttr.in) which I think would be the perfect api for this

[2020-06-28 22:59] fernandoflorez commented on #49
That would be great but in the meantime a workaround would be to have a property to disable the status override or to have every module do a -ga instead of starting clean. That way users could add their desired data on the left part and dracula could add it's on the right.

[2020-06-29 14:42] ethancedwards8 commented on #45
Worked on this last night, should have a PR tonight.

[2020-06-29 14:43] ethancedwards8 commented on #16
I could take a crack at it.

[2020-07-03 18:02] TyNguyen2001 opened #51 "weather doesn't work"
I live in Vietnam. Does the weather only work with the US?
Thanks for the help!
### Screenshots
![Screenshot from 2020-07-04 00-50-55](https://user-images.githubusercontent.com/64082226/86490268-fca78a00-bd90-11ea-9844-1263434d46e6.jpg)
### System
 - OS: Ubuntu 20.4
- Tmux Version: 3.0a

[2020-07-03 18:32] danerwilliams commented on #51
Only works in US at the moment #16

[2020-07-03 18:34] #51 closed

[2020-07-04 23:56] HugoLiconV commented on #16
I was able to make it work using [wttr.in](https://github.com/chubin/wttr.in)

![Screenshot from 2020-07-04 17-55-49](https://user-images.githubusercontent.com/22970186/86522738-b816ff80-be1f-11ea-85fe-79087fc104a1.png)

[2020-07-05 15:41] ethancedwards8 commented on #16
Nice, beat me to it

[2020-07-05 15:44] ethancedwards8 commented on #16
You should submit a pull request

[2020-07-05 16:55] danerwilliams commented on #16
Please submit a PR, also if you we should include the current location as well as the weather as it currently does.

[2020-07-06 16:05] #45 closed

[2020-07-22 16:01] ReagentX opened #53 "Bug: ram_info reports negative memory use on Darwin"
This line:

https://github.com/dracula/tmux/blob/60c2017fb05479eea782d49e68143f181ff2b8da/scripts/ram_info.sh#L21

[code]

### Describe the bug
Memory shows as negative instead of positive

### To Reproduce
1. Add `set -g @dracula-ram-usage true` to `.tmux.conf`

### Expected behavior
Used memory shows correctly

### Screenshots
![image](https://user-images.githubusercontent.com/1920666/88199534-f

[2020-07-22 16:04] ReagentX commented on #53
I do not quite understand what the problem here is:

❯ top -l 1 -s 0 | grep PhysMem
PhysMem: 16G used (3127M wired), 171M unused.
❯ top -l 1 -s 0 | grep PhysMem | sed 's/[a-z]//g; s/[A-Z]//g; s/[()]//g'
: 16  3129 , 160 .
❯ top -l 1 -s 0 | grep PhysMem | sed 's/[a-z]//g; s/[A-Z]//g; s/[()]//g' | awk '{printf "%d\n", $2-$3-$5}'
-3274

[2020-07-23 01:32] danerwilliams commented on #53
@ethancedwards8 do you have any thoughts?

[2020-07-23 01:53] ethancedwards8 commented on #53
Hmm, this is certainly odd. I'll look into it.

How it worked (or at least I though) top would output memory, and then I just used sed to get rid of all the other stuff. Then used awk to do the correct math (from stackoverflow).

@ReagentX Whats the output of just `top -l 1 -s 0 | grep Physmem`? @danerwilliams do you use this? Have you ever saw something like this?

[2020-07-23 01:54] ReagentX commented on #53
I logged each piece of that bash command in my comment above.

[2020-07-23 01:55] ethancedwards8 commented on #53
Oh yeah, sorry missed that

[2020-07-23 01:58] ethancedwards8 commented on #53
https://askubuntu.com/questions/791270/why-are-memory-statistics-in-top-and-htop-different

That's what I tried to do with awk to get the true memory

[2020-07-23 03:58] ReagentX commented on #53
I think, given the formula in that post, you want this:

[code]

The one in the repo takes the 16 from the total memory, subtracts wired memory, and subtracts unused. This one adds the resident, private, and shared regions in MiB, which comes closer to, but not exactly, what `htop` shows. Here is a breakdown:

[code]

For me, `top -l 1` looks like this:

[code]

[2020-07-23 04:04] ethancedwards8 commented on #53
Okay, yeah, that looks good. If you want to submit a PR to fix it that'd be great. I don't have a Mac so I borrowed one to test everything on, if you find any issues with anything else let me know and I'll try to be of use.

[2020-07-23 04:42] ReagentX commented on #53
Sure, I am looking into a more reliable way to get memory usage; I will make a PR when I land on a solution.

[2020-07-23 04:51] ReagentX commented on #53
Looks like `htop` adds together active and wired memory to get this value:

https://github.com/hishamhm/htop/blob/402e46bb82964366746b86d77eb5afa69c279539/darwin/Platform.c#L229

We can acquire the sum by using:

[code]

From here, we multiply by the page size of `4096` to get the total bytes and divide by `1073741824` to get the number of GiB or `1048576` to get the number of MiB.

[2020-07-23 04:56] ethancedwards8 commented on #53
Yeah, that looks great! One thought though, could we use awk instead of bc? I'm not sure if `bc` comes installed by default, if it does then no worries. We won't to limit to reliance on external programs as much as possible. The reason I ask is because on Linux you usually have to install.

[2020-07-23 13:10] ReagentX commented on #53
Good point, I think it is included on MacOS but I will double check before submitting an MR.

[2020-07-23 13:19] ReagentX commented on #53
I can't seem to find a source on whether `bc` is pre-installed, so I will use this to get the number of bytes:

[code]

Then I will use the existing conditional to determine whether to format in MB or GB.

[2020-07-23 13:25] ethancedwards8 commented on #53
Very nice, everything looks good!

[2020-08-01 23:38] #53 closed

[2020-08-09 05:39] ethancedwards8 opened #59 "Enhancement: Set the refresh rate"
### Describe the feature you'd like
A way to set the refresh rate in the .tmux.conf file, reasoning is a higher refresh rate can provide more recent info, but the downside is on a laptop this may effect battery life. Adding a way to lower the rate could improve battery life while using the theme

### Describe risks you've considered
This could be complicated

I'll try and submit a PR to solve this

[2020-08-10 21:40] backpropper opened #61 "Status bar not showing CPU/GPU usage"
It seems like now the status bar does not show any of the CPU/GPU percentage? Did anything change?

_Originally posted by @backpropper in https://github.com/dracula/tmux/pull/50#issuecomment-671603599_

[2020-08-10 22:50] ethancedwards8 commented on #61
It's working for me, maybe share your .tmux.conf file?

[2020-08-10 23:14] backpropper commented on #61
the related lines that are in my `.tmux.conf` are:
[code]

[2020-08-10 23:44] ethancedwards8 commented on #61
For the cpu usage, its supposed to be `set -g @dracula-cpu-usage true` and it seems you haven't enable gpu. More info here https://github.com/dracula/tmux/blob/master/INSTALL.md#configuration

[2020-08-10 23:45] ethancedwards8 commented on #59
#60

[2020-08-11 13:44] backpropper commented on #61
Oh I see. Thanks! It looks like this still requires the user to open the tmux session on the machine that has the GPU. Also what happens if there are multiple GPUs loaded on the machine?

[2020-08-11 13:47] backpropper commented on #61
Also how do I set the update interval? My status bar seems to be displaying the same numbers since the beginning.

[2020-08-11 18:15] ethancedwards8 commented on #61
I've submitted a PR to fix that, it should be by default 10 seconds for gpu ram and cpu and 5 for everything else.

Also make sure you have the most up to date version, you can update by hitting *prefix* + U (shift + u) and then typing all

[2020-08-16 14:26] danerwilliams commented on #61
@ethancedwards8 Can you link this issue to the PR

[2020-08-16 23:33] ethancedwards8 commented on #61
#60

[2020-08-16 23:33] ethancedwards8 commented on #61
@danerwilliams I think I did that right

[2020-09-02 01:49] ethancedwards8 commented on #46
#64

[2020-09-03 16:44] ethancedwards8 commented on #59
Added by PR #60

[2020-09-03 16:44] #59 closed

[2020-09-03 17:00] ethancedwards8 commented on #61
@backpropper you can now set the refresh rate interval. https://github.com/dracula/tmux/blob/master/INSTALL.md

[2020-09-03 17:01] ethancedwards8 commented on #48
#62

[2020-09-03 18:35] #48 closed

[2020-09-03 19:25] ethancedwards8 commented on #49
I think that's a good idea, to fix the date format a PR to add UK date format is pending.

If you have some idea and would like to submit a PR that'd be great!

[2020-09-06 03:34] ethancedwards8 opened #65 "Enhancement: Moving over the POSIX compliant shell for other OS compatibility"
### Describe the feature you'd like
Moving over to a POSIX compliant shell syntax

### Describe risks you've considered
This may be hard to achieve, we may have to significantly rewrite some modules

### Why is this important
I recently encountered an issue of some modules not working because bash syntax is different on BSD systems and Linux systems, I believe switching to a POSIX compliant shell

[2020-09-06 03:35] ethancedwards8 commented on #65
Any thoughts from contributors?

[2020-09-06 17:55] p00f opened #66 "question - show all panes in the status bar"
the screenshot on the website shows all the panes in the status bar, but it shows only the current pane for me

https://imgur.com/ampmEE0

### System
 - OS: archlinux
- Tmux Version: 3.1_b-1 (3.1b)

[2020-09-06 18:53] p00f commented on #66
tmux.conf:
[code]

[2020-09-06 22:22] ethancedwards8 commented on #66
Actually, this theme doesn't show the panes on the status bar, only the windows. On the website it's also only showing the current windows, not the panes.

That being said if this is a feature you would like please open an issue.

[2020-09-06 22:43] ethancedwards8 commented on #34
I do believe #52 solves this issue? Try it out with the new weather plugin and we'll go from there.

[2020-09-06 22:44] ethancedwards8 commented on #16
#52

[2020-09-06 22:44] #16 closed

[2020-09-07 03:06] p00f commented on #66
hmmm thinking about it, showing panes does not make much sense

[2020-09-07 03:06] #66 closed

[2020-09-07 19:49] ethancedwards8 opened #67 "Enhancement: Git status module"
### Describe the feature you'd like
A git status in the bar, displaying the current branch, if there are modifications, etc.

### Describe risks you've considered
Might be slow in large code bases?

### Any extra details
I've found an API that could be of use #{pane_current_path} [here](https://stackoverflow.com/questions/16624752/tmux-how-to-configure-tmux-to-display-the-current-working-directory

[2020-09-11 23:41] genesis-algorithms opened #69 "Bug: Incorrect CPU/RAM values"
### Describe the bug
The values for RAM and CPU on my don't match with what's displayed on my machine (Macbook Pro 2015 / macOS Catalina - 10.15.6) and in general just don't feel _right_.

I mean the RAM always stays under 8GB and rarely gets into something different like 5 or 6 while when I look at my RAM usage from the activity monitor it's never under 13GB.

The CPU usage is usually higher than

[2020-09-12 00:03] ethancedwards8 commented on #69
Hmm, okay, couple of thoughts. Firstly, are you totally up to date with the repo?

Full disclaimer, I don't have a MacBook and I'm the one who programmed the Mac part. So I'not very surprised it's not working.
When I did it I programmed it own a 5 year old Mac running whatever the OS was from 2015 I borrowed.

Also try setting the refresh rate to something different than 1, that might be messing w

[2020-09-12 00:06] ethancedwards8 commented on #69
Also, since you have a Mac and @danerwilliams have a Mac maybe one of you could try and fix it. I do more of the Linux stuff and I'm working on the FreeBSD stuff also, so working on the Mac stuff isn't what I usually do.

[2020-09-12 00:32] genesis-algorithms commented on #69
Alright, I'll try. If you a know a really good blog post or something related to this I'll be happy to know it btw.

[2020-09-12 01:55] ethancedwards8 commented on #69
I'll link to the issue, there's a few of resources in there I think. https://github.com/dracula/tmux/issues/36

[2020-09-12 22:48] zethra opened #70 "Bug: git pull failed due to weather.txt chnages"
### Describe the bug
The sleep_weather script writes to weather.txt which is tracked by git.  This file being changed means that git pulls fail due to upstaged changes (at least on my system, I have the default pull stagey as rebase).  Either way, have the script write to a checked in file isn't a good idea.

### To Reproduce
1. Run tmux with with the weather plugin enabled
    1.5 (might be neede

[2020-09-12 23:16] zethra commented on #70
I submitted a patch to fix this https://github.com/dracula/tmux/issues/70

[2020-09-13 01:02] ethancedwards8 commented on #70
Closed by #71

[2020-09-13 01:02] #70 closed

[2020-09-13 06:52] backpropper commented on #61
Thanks @ethancedwards8! Is there an update on this:
Oh I see. Thanks! It looks like this still requires the user to open the tmux session on the machine that has the GPU. Also what happens if there are multiple GPUs loaded on the machine?

[2020-09-13 07:00] ethancedwards8 commented on #61
On 20/09/12 11:52PM, Abhinav Gupta wrote:

If there are multiple GPU's it should be average out the percentages.
There was a PR merged a while ago https://github.com/dracula/tmux/pull/58 that put this into effect.

[2020-09-13 07:03] backpropper commented on #61
Great thanks!

[2020-09-13 07:08] ethancedwards8 commented on #61
On 20/09/13 12:04AM, Abhinav Gupta wrote:

Yep, let me know how it goes!

[2020-10-05 06:38] ugirc commented on #47
You can add these two lines after `run '~/.tmux/plugins/tpm/tpm'`
[code]
![image](https://user-images.githubusercontent.com/46078304/95047316-6df03380-0718-11eb-8140-8da3e78d64b2.png)

[2020-10-05 10:25] ugirc opened #74 "Enhancement: Can I use 24-hour clock instead of 12-hour clock with prefix + t"
### Describe the feature you'd like
When I press `prefix + t`, it shows `6:23 PM`. Is it possible to use the tmux default format `18:23`?

![image](https://user-images.githubusercontent.com/46078304/95068497-f29e7a00-0737-11eb-8b67-87ab9ec9ad69.png)

[2020-10-05 14:01] spoulson commented on #47
After some research, I came up with a solution.  Proposal PR:

https://github.com/dracula/tmux/pull/75

[2020-10-05 14:05] tkolleh commented on #47
No change after adding the above lines to the bottom of `.tmux.conf` file, reloading the environment, killing the server and finally opening tmux with zoomed in pane.

[2020-10-05 16:02] spoulson opened #76 "Enhancement: Rename git repo to "dracula-tmux" to avoid creating nondescript "tmux" plugin dir"
### Describe the feature you'd like
Because the repo is currently named "dracula/tmux", installing the plugin creates a "tmux" plugin directory.  This fails to identify itself as dracula related when listing plugins:
![image](https://user-images.githubusercontent.com/102494/95102529-7db04d80-0701-11eb-9444-efde98a48e11.png)

An easy fix is to rename the repo to "dracula/dracula-tmux".  The plugin

[2020-10-05 22:25] ethancedwards8 commented on #76
Sorry I don't believe this would be possible. It breaks the naming convention the whole organization follows, I think being the outlier would be a bad look.

[2020-10-05 22:25] #76 closed

[2020-10-05 22:33] ethancedwards8 commented on #76
Also, I don't really see how this an issue unless there's a conflict with another plugin?

[2020-10-05 22:36] ethancedwards8 commented on #74
Good question, this is probably possible but I'm not sure how to go about it best. Definitely would like to see this though. Thanks for the issue. If I have the time I'll try to create a solution :+1:

[2020-10-05 22:40] ethancedwards8 commented on #74
Actually, I've just found a solution! I'll make a commit and update as soon as I can!

[2020-10-05 22:57] ethancedwards8 commented on #74
Got it working :)

[2020-10-05 22:57] #74 closed

[2020-10-05 23:18] spoulson commented on #76
@ethancedwards8, it certainly could conflict with another plugin.  Although, at this time I have not found one.  Seems inevitable.

Maybe tpm lets you checkout a plugin to a different directory name?  I haven't found if that's possible.

Your call.  It seems awkward when I first realized.

[2020-10-05 23:47] ethancedwards8 commented on #76
I don't know. Probably so. Look into it, but we probably won't be renaming the repo.

[2020-10-06 01:40] ugirc commented on #74
Thanks for your work👏.So now do I need to reinstall the tmux dracula plugin to use 24-hour, or just modify my old dracula.sh as your commit did?

It would be better if this solution can be introduced in the README.md.

[2020-10-06 03:02] ethancedwards8 commented on #74
If you're using tpm you can press `prefix + U` and type all, and it'll update all your plugins. But you need to have military time enabled in your .tmux.conf, you can find instructions on how to do that here: https://draculatheme.com/tmux

[2020-10-06 03:17] ugirc commented on #74
It works now, thank you!

[2020-10-06 03:22] ethancedwards8 commented on #74
Yup! Thanks for the issue.

[2020-10-06 03:47] ugirc commented on #74
BTW, is is possible to show the clock with the format `hh:mm:ss` when `prefix + t`?

I saw this kind of style in other people's tmux.

---

Maybe... this would be an unimportant requirement ...

[2020-10-06 15:33] ethancedwards8 commented on #74
Possibly, I'll check it out when I get home from school.

[2020-10-06 17:04] ethancedwards8 commented on #74
Also, is there any practical use for this? Not to seem rude but I'm genuinely curious how it's helpful except for rices.

[2020-10-07 06:46] ugirc commented on #74
Not too much practical use.
In a way, just let me remember that the time is flying :joy:

[2020-10-07 14:02] spoulson commented on #47
@ethancedwards8 With https://github.com/dracula/tmux/pull/75 merged, this issue can be closed as resolved.

[2020-10-07 16:01] ethancedwards8 commented on #47
Yup, not sure why it didn't close automatically, probably just didn't mention the issue or something. Thanks.

[2020-10-07 16:01] #47 closed

[2020-10-15 08:41] ugirc opened #77 "Bug: [RAM status bar doesn't show the how many GB used]"
### Describe the bug
I use `set -g @dracula-ram-usage true`

But it shows like this:
![image](https://user-images.githubusercontent.com/46078304/96098730-09498b80-0f05-11eb-81e5-20ce29b1661e.png)

It doesn't show like `5GB/16GB`

How can I solve it?

[2020-10-15 17:04] ethancedwards8 commented on #77
We need some more info, what operating system are you using? Are you using tpm? Are you using the most up to date theme and tmux version?

[2020-10-16 02:30] ugirc commented on #77
My OS is `Ubuntu 20.04.1 LTS x86_64`. My tmux version is `tmux 3.0a`

And I am using tpm. Also I have use the `prefix + U` to update the tmux.

[code]

Update
After my try, it works.

I found maybe it is because I use an ubuntu with the chinese mode.
So the free -g shows like this
![image](https://user-images.githubusercontent.com/46078304/96205103-680c1500-0f98-11eb-9511-f8b886c330f7.png)

But in

[2020-10-16 06:45] ethancedwards8 commented on #77
I see the issue, you have a different LOCALE, so yes. It is because you have the Chinese mode. I don't have this issue on my end because my LOCALE is en_US.UTF-8.

Try adding `export LC_ALL="en_US.UTF-8"` to the top of the ram_info file and undoing any changed you've made.

[2020-10-16 18:41] Tooa commented on #69
I do experience a similar mismatch between the actual CPU and RAM usage compared to what the Dracula theme shows in the status bar. It also shows GGB instead of GB. Let me know if I can provide any further hint.

- OS: Linux Mint 19.3 cinnamon desktop
- Tmux Version: 2.6-3ubuntu0.2
- Theme installed via TPM
- Theme and TPM Updated: Yes (Prefix + U, then all)

![dracula-theme-tmux-ram-cpu](https://

[2020-10-16 22:28] ethancedwards8 commented on #69
Hmm, @Tooa, you're issue with the GGB is a locale thing, I'm working on a fix for that right now. The scripts are wrote for a en_US.UTF-8 locale, but by default they use the system locale and that causes issues in some tools like `awk`.

For the incorrect values, I'll try and get a fix out soon. Not sure what's up, working on my end. Maybe the locale is causing issues with the accuracy of that too

[2020-10-16 22:42] ethancedwards8 commented on #69
@Tooa try it now, just pushed a commit: ca2632845390c2bc40d578d4e94758cc9ce4889e

[2020-10-16 22:43] ethancedwards8 commented on #77
Just pushed a commit: ca2632845390c2bc40d578d4e94758cc9ce4889e

Try it now after updating, I think it should fix the issue.

[2020-10-17 08:08] Tooa commented on #69
@ethancedwards8 Looks like the fix from RAM does not work in my case. Here is more information for debugging:

[code]

[2020-10-17 19:17] ethancedwards8 commented on #69
It appears I'm having the same issue now, actually. But I have GiGB instead of GB. Weird. I'll try some more fixes, I could've sworn this was working correctly a few weeks ago. Maybe It's because I replaced the awk with grep a few commits back..

[2020-10-20 00:43] ethancedwards8 commented on #77
Closing because no response.

[2020-10-20 00:43] #77 closed

[2020-10-25 09:20] wsh3776 opened #82 "Enhancement: show username and hostname"
### Describe the feature you'd like
Is it possible to add a setting that can show the current `username` and `hostname`

### Describe risks you've considered
I think it wouldn't have much risk.

### Describe alternatives you've considered
I can use `echo user` and `hostname` to show this, but can I show it in the bottom status bar. I often login the remote machine. So if I can see which host I am

[2020-10-25 20:25] ethancedwards8 commented on #82
Yeah we could do this, but I don't really see how useful it is. You could literally just type `whoami` and `hostname` and get those. We need to reduce feature bloat because now this project is becoming quite large and we should focus on the things that are actually needed. Like working with operating systems on than Linux and Mac, better compatibility with other plugins, color theming, etc.

Closi

[2020-10-25 20:26] ethancedwards8 commented on #61
Closing since this is stale. Reopen if needed.

[2020-10-25 20:26] #61 closed

[2020-10-25 23:05] abatilo commented on #34
#52 helps with international users but doesn't let you override location when IP geolocation isn't accurate. It'd still be nice if we could get this update.

[2020-11-26 09:10] qifei9 commented on #82
I work on my laptop and a remote machine connect through ssh from my laptop at the same time. Thus I often have multiple tmux session running, some locally and some remotely. Therefore, I hope the status bar could tell me where the session is running, locally or remotely. Although I could have these info in the zsh prompt, the prompt is not always visible, for example in vim.

[2020-12-05 01:40] evert opened #87 "Bug: Weather uses incorrect unit"
### Describe the bug

I don't think switching to celcius works!

I tried the following:

    set -g @dracula-show-fahrenheit false

in `.tmux.conf`, but it doesn't appear to have an effect.

P.S.: config is hilariously American. Fahrenheit by default, month/day in reverse order and calls 24h clock 'military' time. Great theme though =)

[2020-12-05 01:47] ethancedwards8 commented on #87
To be fair, the two main developers are American ;)

To the actual bug, we rewrote the temperature script a few PR's ago, I bet we forgot to mess with the Celsius option. I'll take a look!

[2020-12-05 02:33] evert commented on #87
Awesome =)

[2020-12-13 16:18] trietphm commented on #25
I'm using MacOS 10.15.7 and this command
https://github.com/dracula/tmux/blob/master/scripts/battery.sh#L70
return with a space character in the beginning, have to trim it to show the correct indicator. Not sure if it's a bug or what.

<img width="703" alt="image" src="https://user-images.githubusercontent.com/4161828/102017360-1b2a9c00-3d99-11eb-891a-02d83ac8c8b0.png">

[2020-12-16 15:54] #65 closed

[2020-12-17 22:08] ethancedwards8 commented on #25
Oh yeah, feel free to create a pull request to fix that. I think you could do it a better way than piping it into xargs 👍 @trietphm

[2020-12-24 17:46] o0-o opened #88 "Bug: [gpu detection picks up non-gpu devices]"
`lspci -v | grep VGA` in the gpu script picks up devices classified as `Non-VGA`

[code]

This results in `GPU unknown` in the status bar.

Not sure what the best solution here is. Maybe `grep 'VGA '`? Based on my system `grep 'VGA compatible controller'` would be the way to go, but I don't know if that's consistent across all hardware/linux.

[2020-12-24 19:33] o0-o opened #89 "Bug: [this doesn't work]"
`show_left_icon_padding` does nothing because this `seq` command fails in `dracula.sh`:

[code]

A suitable alternative is:

[code]

Tested in Arch Linux and macOS.

[2020-12-24 20:10] ethancedwards8 commented on #89
When I tested it out it was working on Arch, I just tried it out and it wasn't working on MacOS. Could be some differences between GNU seq and MacOS seq. Feel free to send a PR that fixes this, I'll test it out in both Arch and OSX if you do.

[2020-12-24 20:13] ethancedwards8 commented on #88
What GPU do you have? Currently only NVIDIA gpu's are supported on Linux.

[2020-12-27 00:46] aschlenker commented on #69
I forked this project some while ago and I think I fixed this issue while I was fiddling around with my preferred date format (yyyy-mm-dd). It looks like macOS reports the CPU usage by 100% per one core (6 cores = 600% maximum, hyperthreaded cores seem to count too). The code I ended up with, that had a value that felt right was this:
`Darwin)
	cpuvalue=$(ps -A -o %cpu | awk -F. '{s+=$1} END {prin

[2020-12-28 16:45] ethancedwards8 commented on #69
Okay, I've fixed the CPU usage issue now. https://github.com/dracula/tmux/commit/6757a5329948f00addd66b02ea94f61dd94456f5 the value looked correct to me also, all thats left is the memory issue.

[2021-01-04 21:22] Per48edjes opened #90 "Bug: Window Flags not showing after setting @dracula-show-flags"
### Describe the bug

I cannot seem to get the window flags to show despite having set `set -g @dracula-show-flags true`.

I suspect that there might be a conflict with this setting I have (to show directory name), but would love to get someone more experienced to confirm/deny this hypothesis:

[code]

### Expected behavior

I expected similar behavior to what #75 introduced -- a window flag indic

[2021-01-20 13:46] TimDaub commented on #87
<img width="200" alt="Screen Shot 2021-01-20 at 14 45 53" src="https://user-images.githubusercontent.com/2758453/105183207-33c36a00-5b2e-11eb-8b0b-41e99a17cd3f.png">

I installed the dracula theme on my tmux yesterday and showing the weather in Celcius is working. Can the issue be closed?

[2021-01-23 09:58] Per48edjes commented on #90
I'm an idiot -- I hadn't pulled this repo's changes locally in a while.

[2021-01-23 09:58] #90 closed

[2021-01-23 19:09] ethancedwards8 commented on #90
Heh, I've spent the last two weeks trying to figure this out, it was working on my system. Glad to know it wasn't on us xD

[2021-01-23 19:11] Per48edjes commented on #90
My apologies for wasting your time, Ethan! 🙈🙉🙊

On Sat, Jan 23, 2021 at 2:09 PM Ethan Edwards <notifications@github.com>
wrote:

--
---
*Ravi Dayabhai*
r.i.dayabhai@gmail.com
404.574.8672

[2021-01-26 11:16] amenat opened #91 "Bug: False AC charging status"
### Describe the bug

Even though charger is unplugged this plugin still reports "AC"

### To Reproduce
Steps to reproduce the behaviour:

On Macs sometimes the command used to get charging/not-charging status is this: `pmset -g batt | sed -n 2p | cut -d ';' -f 2` This can sometimes give whitespace in beginning like `" discharging"` which can cause case matching to fail in following line in batter

[2021-01-27 17:50] #91 closed

[2021-02-14 10:05] manicmonkey commented on #89
Does not work for me either:

[code]

The proposed change using `printf` works for me.

@ethancedwards8 are you saying you tried `printf` and it doesn't work on MacOS?

[2021-02-17 22:59] ethancedwards8 commented on #89
I meant the seq solution worked on MacOS, I didn't try the printf one. I just tested printf on MacOS and NixOS and it works. I can push push it to the repo or you can submit a PR @o0-o

[2021-02-17 23:00] ethancedwards8 commented on #88
Closing due to no response and not being able to reproduce.

[2021-02-17 23:00] #88 closed

[2021-02-17 23:02] #89 closed

[2021-02-19 18:02] zethra opened #93 "Enhancement: Handle Multiple Batteries"
### Describe the feature you'd like
User should be able to select which batter they want displayed if the system has multiple.

### Describe risks you've considered
Batter code will be a bit more complicated.

### Describe alternatives you've considered
Filter out "invalid" batteries.

[2021-02-20 02:07] ethancedwards8 commented on #93
Okay this is great, but I don't have a single device with more than one battery. And I doubt many other people do. I would love to have this feature though! But it falls on you to do it :D

[2021-02-20 02:10] zethra commented on #93
I plan on implementing this. I also don't have a device with multiple batteries but sometimes it'll show a second battery that's always at 0 which breaks the existing implementation.

[2021-03-09 22:13] devnolly opened #94 "Bug: Enabling Weather plugin causes my MBP fans to increase globle warming"
### Describe the bug
Hi Devs - When using the weather plugin the fans on my '19 MBP (using Catalina/zsh/oh-my-zsh) spin up and don't stop until I shut down tmux. A couple of things seem to have helped.

Setting the refresh to something more that 5 seems to help:
`set -g @dracula-refresh-rate 30`

It looks like this statement in sleep_weather.sh produces an error because grep doesn't find anything.

[2021-03-10 01:14] andrewg-xyz opened #95 "Enhancement: Add network upload/download speed"
### Describe the feature you'd like
To the status bar, add an option for network up/down. Showing CPU, RAM, GPU usage is amazing, with network usage this theme would be perfect.

### Describe risks you've considered
none.

### Describe alternatives you've considered
Forking this repository, using a different theme

[2021-03-12 14:45] ethancedwards8 commented on #95
This sounds like a good idea, if you could implement it and send in a PR that'd be great!

[2021-03-12 14:45] ethancedwards8 commented on #94
I'll need to test this, but it makes sense. Feel free to send in a PR.

[2021-03-12 15:19] andrewsgreene commented on #95
Any issues with dependencies? Other solutions I've seen required additional installs.

[2021-03-12 17:58] ethancedwards8 commented on #95
Yeah that is a concern, we want to keep it bash only and just using tools like sed, awk, and grep.

[2021-03-14 12:58] etrigan63 opened #96 "Bug: [window variable is not left justified]"
### Describe the bug
The window variable in the status line is floating in the middle which makes powerline theming awkward. Please provide a setting to allow justification of medules.

### To Reproduce
Steps to reproduce the behavior:
1. Install dracula/tmux
2. Open a terminal
3. Window variable is floating in the center

### Expected behavior
Provide documentation and a method to control the jus

[2021-03-14 13:07] ethancedwards8 commented on #96
I can't reproduce, what terminal are you using? I know the theme is a bit wonky using some terminals.

[2021-03-14 20:06] etrigan63 commented on #96
I am using kitty.

[2021-03-14 20:07] ethancedwards8 commented on #96
I'm using kitty as well, can you post your config?

[2021-03-14 21:04] etrigan63 commented on #96
here it is
[kitty.conf.zip](https://github.com/dracula/tmux/files/6137565/kitty.conf.zip)

[2021-03-14 21:08] etrigan63 commented on #96
also happens in Alacritty.

[2021-03-15 14:27] etrigan63 commented on #96
Just as an FYI, this is not happening on my desktop (AMD graphics) only my laptop (Intel graphics).

[2021-03-16 00:19] xunoaib commented on #94
@devnolly I couldn't replicate this on my system but you are probably right. Could you please share the output of `ps -p "$(cat /tmp/.dracula-tmux-weathr.lock)" -o cmd=` on your system? I'm curious if the output differs between OS's or ps versions. ps from procps-ng 3.3.17 on mine shows: `bash /home/user/.tmux/plugins/tmux/scripts/sleep_weather.sh true true`

Thanks

[2021-03-18 23:26] ethancedwards8 commented on #94
I get the same output actually.

[2021-03-19 00:10] devnolly commented on #94
Thanks for taking a look.  Here's the output.

**`bash-3.2$ ps -p "$(cat /tmp/.dracula-tmux-weather.lock)" -o cmd=**
ps: cmd: keyword not found
ps: no valid keywords; valid keywords:
%cpu %mem acflag acflg args blocked caught comm command cpu cputime etime f flags gid group ignored inblk inblock jobc ktrace ktracep lim login logname lstart majflt minflt msgrcv msgsnd ni nice nivcsw nsignals nsigs

[2021-03-19 00:22] devnolly commented on #94
Not sure if this helps.

`
➜ scripts (master) ✗ cat lock.sh
#!/usr/bin/env bash
LOCKFILE=/tmp/.dracula-tmux-weather.lock

echo "With leading space"
printf "[ -f $LOCKFILE ] && ps -p "$(cat $LOCKFILE)" -o cmd= | grep -F " ${BASH_SOURCE[0]}" && kill "$(cat $LOCKFILE)""
echo
echo "Without leading space"
printf "[ -f $LOCKFILE ] && ps -p "$(cat $LOCKFILE)" -o cmd= | grep -F "${BASH_SOURCE[0]}" && kill

[2021-03-19 00:30] ethancedwards8 commented on #94
So is there potentially a problem on MacOS? Because of the way MacOS ps works? That's what I'm assuming.

[2021-03-19 00:37] xunoaib commented on #94
It looks like ps on OSX doesn't support the "cmd" keyword. It's an alias for "args", so we should probably just use that. Could you please see if this works for your sleep_weather.sh?

`[ -f $LOCKFILE ] && ps -p "$(cat $LOCKFILE)" -o args= | grep -F " ${BASH_SOURCE[0]}" && kill "$(cat $LOCKFILE)"`

[2021-03-22 08:02] lucamartini opened #97 "Enhancement: [CPU usage fixed width]"
### Describe the feature you'd like
Right now the CPU usage width is not fixed but it changes due to the number of digits:
CPU 0% (6 chars)
vs
CPU 11.1% (9 chars).
It seems distracting to me that all right functionalities change position consequently every 5 seconds.
It would be possible to fix the position, or to have an option to do that?

[2021-04-03 14:20] #97 closed

[2021-04-03 14:25] ethancedwards8 commented on #96
It doesn't happen on intel graphics for me. As far as I'm concerned is probably an issue with your graphics drivers perhaps? I'm not really sure. I don't think the project is at fault here.

[2021-04-05 11:32] sanklamm opened #99 "Bug: installing tmux plugin with Home Manager"
### Describe the bug
I try to install the dracula plugin via Home Manager but it says on `home-manager switch`
`error: undefined variable 'dracula'`

### To Reproduce
Steps to reproduce the behavior:
1. Go to https://draculatheme.com/tmux
2. follow Nix instructions

### Expected behavior
should install

### System
 - OS: NixOS

[2021-04-05 12:21] ethancedwards8 commented on #99
Can you post your config?

[2021-04-06 15:20] ethancedwards8 commented on #99
I'm assuming you're missing the `with pkgs.tmuxPlugins` before the set.

This is my config, it should help.

[code]

[2021-04-06 15:26] sanklamm commented on #99
This is my config.
It is installing the other plugins fine but throws an errow when I include dracula.

[code]

[2021-04-06 15:30] ethancedwards8 commented on #99
You should probably update your channels, or if you're using flakes, update your inputs. If you're using channels run `nix-channel --update`. Also, what channel are you using? You can view them by running `nix-channel --list`

[2021-04-08 06:55] sanklamm commented on #99
I ran the update but that didn't change anything.
I'm on release 20.09
[code]

[2021-04-08 10:41] ethancedwards8 commented on #99
Run it with sudo, your nixpkgs channel would be on your root user.

[2021-04-21 16:03] coodyme opened #101 "Enchancement: [Disable gray background]"
### Disable gray background
A way to disable gray background or choose terminal background color

[2021-04-22 02:31] ethancedwards8 commented on #101
Sure. Feel free to send in a PR.

[2021-05-03 15:00] ABitMoreDepth commented on #99
I'm running into a similar issue trying to set this up with home-manager (running on NixOS unstable), with the following config:
[code]

Instead of throwing an error, attempting to launch tmux simply hangs.  Looking at process info, the server appears to be running, but no UI ever appears.  (Using just the stock `dracula` also just hangs).

Tmux is version 3.2.

Could anyone advise?  Grepping thro

[2021-05-03 17:06] ethancedwards8 commented on #99
I've also experienced this problem @ABitMoreDepth , I believe it's a problem with home-manager and not the plugin itself. As it consists if you remove the dracula plugin and add others.

You should file a relevant issue on the home-manager page.

[2021-05-03 17:57] ABitMoreDepth commented on #99
Ok, thanks.  I'll follow up over there.

[2021-05-09 12:22] ABitMoreDepth commented on #99
Digging a little into this, the issue appears to be with the default `show-weather` setting.  Running the dracula.sh script manually, shows that it attempts to write a file to the `/nix` store, which is not allowed by default.  I was able to get tmux to start, by setting the weather component to false.

Sample tmux config for others:
[code]

[2021-05-10 01:03] nylar357 commented on #61
I had to do a little editing to line 21 of scripts/gpu_usage.sh

`lspci | grep NVIDIA | head -n 1 | awk '{print $5}'`

removing the verbosity call and grepping NVIDIA rather than VGA.  On a Dell 5970 with a GTX 1060

[2021-05-12 15:42] ric-bianchi opened #102 "Bug: conflict with tmux/resurrect?"
### Describe the bug
It seems that since I have installed the dracula/tmux theme as plugin in the .tmux.config file, tmux/resurrect does not automatically save the sessions anymore. The manual save still works fine, but the automatic save seems broken.

Uninstalling dracula/tmux theme fixed the problem.

Therefore, there might something that interferes with the auto-save of tmux/resurrect.

Has an

[2021-05-12 16:57] ethancedwards8 commented on #102
I've never used resurrect, nor know anything about it. So I'm operating in the dark here, but this seems like something that's easy enough to fix. I'll take a look.

Meanwhile, if you find the cause of the problem please post a solution.

[2021-05-12 17:31] ric-bianchi commented on #102
Thanks a lot for your comment and help, @ethancedwards8 !

Actually, `tmux-continuum` and `tmux-resurrect` plugins work together, so the interference could be with one of the two plugins.

I didn't find the cause yet; however, I probably have found a hint somehow:

https://github.com/tmux-plugins/tmux-continuum/issues/22#issuecomment-375989238

I don't fully understand that comment, because I don'

[2021-05-12 19:37] ethancedwards8 commented on #102
After looking at it, we set our own status, which is how the theme works. And that disables the hook that was mentioned in the issue that autosaves.

I'm going to close for now, as this is just a symptom of the themes using the same method. I don't see a way around it.

[2021-05-17 14:55] ric-bianchi commented on #102
Thanks for investigating this, @ethancedwards8, and for your kind help.

I'll try to investigate as well, to see if I'll find a workaround. In that case, I'll let you know here.

Thanks again, and I wish you a good day. Regards, -- Riccardo.

[2021-05-17 14:56] #102 closed

[2021-05-20 08:36] celsomiranda opened #103 "Bug: Can't install with TPM in Arch Linux"
### Describe the bug
When I install using TPM nothing happens on my Arch machine.

I use the same exact configuration on a Ubuntu Server with 3.0a and there are no problems there.

### To Reproduce
Steps to reproduce the behavior:
1. Install "dracula" via TPM
2. Reload Tmux

### Expected behavior
Dracula should be installed and working like the other plugins.

### Screenshots
![tmux](https://user-

[2021-05-21 16:07] celsomiranda commented on #103
This was caused by the locale.

Was using pt_PT.UTF-8 and solved it by enabling en_US.UTF-8 as well.

[2021-05-21 16:07] #103 closed

[2021-06-16 06:49] denstiny opened #105 "The network script error output"
![image](https://user-images.githubusercontent.com/57088952/122171176-034fe400-ceb2-11eb-9bf9-78f658a4a921.png)

[2021-06-21 01:49] #105 closed

[2021-06-21 01:51] ethancedwards8 commented on #105
Whats the reasoning for the closure?

[2021-06-23 18:06] leiswatch opened #106 "Bug: GiGB in RAM usage (Ubuntu)"
### Describe the bug
In the status bar, when the RAM usage is turned on, total RAM in the system unit in the system is `GiGB` instead of `GB`.

### To Reproduce
Steps to reproduce the behavior:
1. Install `dracula/tmux`
2. Turn on RAM usage in the tmux config

### Expected behavior
The unit should be GB, not `GiGB`.

### Screenshots
![image](https://user-images.githubusercontent.com/17877481/12314

[2021-07-02 08:52] o0th commented on #106
https://github.com/dracula/tmux/blob/dbdc65d22b2d170452ad8a3c54128030e846b091/scripts/ram_info.sh#L20-L36

I think on line 34 should be `$total_mem_g`b instead of `$total_mem`

[2021-07-22 16:07] #42 closed

[2021-07-22 16:07] #106 closed

[2021-07-22 16:13] ethancedwards8 commented on #69
@genesis-algorithms @aschlenker @Tooa @markcornick can everyone test new HEAD and see if they're getting these issues?

[2021-07-22 16:15] ethancedwards8 commented on #87
I believe so, thanks.

[2021-07-22 16:15] #87 closed

[2021-07-22 18:36] danerwilliams opened #111 "Create unit tests and Github actions pipeline to improve quality control / eliminate extensive manual testing"
As features continue to grow, the manual testing seems to become more and more complex.

[2021-07-28 10:16] kktt007 opened #115 "Bug: [this doesn't work]"
### Describe the bug
Only work when use this command
`set -g @dracula-plugins "battery network-bandwith time"` (but i can't find more plugin only these and cpu-usage etc)

how can i active the plugin because for others in https://draculatheme.com/tmux like`set -g @dracula-military-time true`, does not work.

### Screenshots
![](https://img.vim-cn.com/d7/895e74cf466f5431946e87ed0ccb5388e7e2de.png )

[2021-07-28 14:05] JuliaMathias opened #116 "Bug: several problems with the status right bar"
### Describe the bug
Hi. I'm new to tmux so I'm not sure if I'm doing something wrong but I'm having problems with my status bar. The issues are:

- time is not shown even if I explicitly tell it to in the conf file
- network name is shown despite me config being false
- it seems there should be a little more padding right on each item?

Here's how my screen looks:

![Screenshot from 2021-07-28 10

[2021-07-28 16:14] ethancedwards8 commented on #116
@o0th feedback? Seems the PR has caused multiple issues.

[2021-07-29 06:23] o0th commented on #116
@JuliaMathias since version 2 it's different how you use this theme, check out the [install](https://github.com/dracula/tmux/blob/master/INSTALL.md) file, based on this your configs will be

[code]

[2021-07-29 06:31] o0th commented on #115
@kktt007 available plugins are listed in the [install](https://github.com/dracula/tmux/blob/master/INSTALL.md) file. The military time option show the time in the 24h format, seems correct to me.

[2021-07-29 08:57] kktt007 commented on #115
Many thanks.

it seems below does work for me.
# available plugins: battery, cpu-usage, gpu-usage, ram-usage, network, network-bandwith, weather, time

My issue is : set -g @dracula-military-time true etc.  this grammar desn not work for me. And i want more status i.e. (git)
below theme is cool. But i prefer dracula, because i use dracula everythere...
https://github.com/erikw/tmux-powerline/tree/

[2021-07-29 09:12] o0th commented on #115
@kktt007 maybe you're expecting something different for `@dracula-military-time`
A git segment was working in progress from another user (#104), maybe I can give it a look to make it work. If you are interested in adding new functionalities you're free to open an issue/pr :)

[2021-07-29 13:19] kktt007 commented on #115
Yes. Expecting something different for `@dracula-military-time`, but `set -g @dracula-...` this grammar does now work in  tmux.conf. It's ok now thanks. I also find https://draculatheme.com/tmux has changed. Soooooo clear.

For further  function and more  color. I think dracula/tumx will get better in the future.

Many thanks. I use Dracual on zsh, vim, tmux, anywhere.

[2021-07-29 13:19] #115 closed

[2021-07-29 13:42] kktt007 opened #117 "Bug: [this doesn't work]"
### Describe the bug
I set  with `set -g @dracula-time-colors "gray white"`  I also tried with`green white` ...
But the color seems the color is always `purple white', like below
And if i could change the color on left side.
Many thanks.
### Screenshots
![](https://img.vim-cn.com/05/a8bb2833dda25245064ae09910ffc3ef108931.png )

### System
 - OS: archlinux
- Tmux Version: latest

[2021-07-29 13:52] o0th commented on #117
Yes this is an issue, there's already a PR ready: #114

[2021-07-29 17:40] JuliaMathias commented on #116
Thank you @o0th, it worked!

[2021-07-29 17:40] #116 closed

[2021-07-29 17:44] ethancedwards8 commented on #117
@kktt007 why did you reopen this issue separately?

[2021-07-29 17:44] #117 closed

[2021-07-29 17:46] ethancedwards8 commented on #116
Great, thanks @o0th for the support on many of the issues.

[2021-07-29 17:53] ethancedwards8 commented on #117
It's been merged.

[2021-07-29 18:21] #67 closed

[2021-07-29 18:54] ethancedwards8 commented on #99
Issue is resolved for me now.

[2021-07-29 18:54] #99 closed

[2021-08-10 17:46] martsa1 opened #118 "Enhancement: Add load averages segment"
### Describe the feature you'd like
Similar to #36, it'd be awesome to add a segment that lets us view load averages for the system.  Personally I prefer load average to CPU utilisation as I can get an indication of utilisation very recently, and over five and fifteen minute averages.

### Describe risks you've considered
There should be no risks to adding this for Linux and Mac.  I'm not sure if

[2021-08-25 07:55] Tooa commented on #69
@ethancedwards8 Sry it took so long. Let me know if I can provide something else.

[code]

![dracula_tmux_theme](https://user-images.githubusercontent.com/5375334/130749110-c1c7fce7-4c76-44bc-b544-e92f7da8e2da.png)

[code]

[2021-09-02 13:07] vpeopleonatank opened #121 "Bug: [this doesn't work] Session text or smiley icon not center align"
### Describe the bug
A clear and concise description of what the bug is.
@dracula-show-left-icon is set to any "session", "window", "smiley" or any character is not center align
### To Reproduce
Steps to reproduce the behavior:

### Expected behavior
A clear and concise description of what you expected to happen.
character in left-icon position is center align
### Screenshots
If applicable, add sc

[2021-09-03 14:20] ethancedwards8 commented on #121
Yup, I see the issue.
[code]
It doesn't indicate the padding unlike other modules.
[code]
Feel free to send in a PR, should be an easy enough fix.

[2021-09-03 18:16] zethra commented on #93
It took longer to get back to this then expected but I finally have a patch ready #122.

[2021-09-06 12:44] vpeopleonatank commented on #121
I use old dracula/tmux. Update to lastest tmux and `set -g @dracula-left-icon-padding 1` solve this issue.

[2021-09-06 12:44] #121 closed

[2021-09-20 13:19] mdi opened #125 "Bug: Setting dracula-show-left-icon always defaults to "smiley""
### Describe the bug
If I `set -g @dracula-show-left-icon session` for example, the initial load of tmux always shows the smiley character. If I reload TPM, then the session number is shown.

### To Reproduce
Steps to reproduce the behavior:
1. Add `set -g @dracula-show-left-icon session` to tmux.conf
2. Start tmux.
3. Note the left status bar character is a smiley and not the session number.

###

[2021-09-20 20:02] mdi commented on #125
This was due to misconfiguration on my part. Closing.

[2021-09-20 20:02] #125 closed

[2021-09-20 23:17] ethancedwards8 commented on #125
Thanks for closing. I was scratching my head trying to reproduce.

[2021-09-21 20:29] helderburato opened #126 "Bug: Unexpected behavior when using Dracula theme with Alacritty + Neovim + Tmux"
I'm mentioning this issue https://github.com/dracula/vim/issues/263  here because it's related to Tmux as well.

[2021-09-22 12:23] #126 closed

[2021-10-04 06:53] ericfengchao opened #128 "Enhancement: support different colors of active/inactive panes"
### Describe the feature you'd like
support different colors of active/inactive panes. something like this

![image](https://user-images.githubusercontent.com/32474964/135806278-a243b749-d3e4-45d7-ac4d-16105ad24870.png)

[2021-10-04 18:06] mklbravo opened #129 "Enhancement: Show leading 0 on Network Bandwidth Panel"
### Describe the feature you'd like
It will be cool to add a leading 0 on network bandwidth display values for values < 1. Current value display makes the bandwidth panel resize each time the value changes.

Current value display for vale's < 1:
![image](https://user-images.githubusercontent.com/2145612/135901780-49f6ba2e-ac22-43e8-bde1-0c01c55023c3.png)

[2021-10-04 19:32] ethancedwards8 commented on #128
If you can find an existing implementation, please share it. I'll be happy to implement this.

[2021-10-06 07:59] o0th commented on #128
It should be easy to achieve, something like

[code]

[2021-10-11 02:16] jkemp814 opened #134 "Bug: [Git plugin not working]"
### Describe the bug
Git plugin would not show. Network bandwidth only shows 'Ethernet'. TEMP is not accurate. 40F degres off.

### To Reproduce
Steps to reproduce the behavior:
1. Go to 'Start Tmux session'
2. Click on 'Nothing to click on'
3. Scroll down to 'No scrolling needed'
4. See error: No error message

### Expected behavior
Expect to see check mark or exclamation mark for git repository.

[2021-10-11 23:34] jkemp814 commented on #134
Gnome-terminal: 3.38.1-1
Zsh: 5.8-6
Tmux: 3.1c-1
Oh-My-Zsh: Latest, no release number.

![image](https://user-images.githubusercontent.com/12059343/136867190-130f70bf-cf57-4438-a6da-c6fa279414c3.png)

It's working now.

[2021-10-21 14:34] ankush opened #137 "Bug: can't disable battery, weather and network"
### Describe the bug
A clear and concise description of what the bug is.

### To Reproduce

Add this to your `.tmux.conf`:

[code]

### Expected behavior
Battery, weather and network are not shown.

### System
 - OS: Mac OS Big Sur
- Tmux Version: 3.2A

### Additional info

This used to work before, Git bisect suggests 4abfcf279949b6c301d3c853a204fe01dbe8c587 broke it. (maybe intentional?)  I'll t

[2021-10-21 14:48] ankush commented on #137
nvm. This was breaking a change from v2.

Much simpler way to specify plugins now.

e.g. `set -g @dracula-plugins "time"`

[2021-10-21 14:48] #137 closed, assigned to nobody

[2021-10-30 01:16] aug0stus commented on #49
I've been using a really dirty workaround for the last few months to get some custom status-right configuration. I haven't had any issues so far so I'm going to share it here for anyone to see.

Just some background information to understand the hack: the very bottom line `run "~/.tmux/plugins/tpm/tpm"` in the tmux.conf file is used to initiate the tmux plugins.

As such, I am emptying dracula's s

[2021-10-30 06:31] ethancedwards8 commented on #134
Please file separate issues for those issues.

[2021-10-30 06:31] #134 closed

[2021-10-30 06:32] ethancedwards8 commented on #118
I like it, definitely something we can implement.

[2021-12-03 21:17] adrianmihalko opened #142 "Bug: colors are wrong"
### Describe the bug

I would like to use Dracula theme for tmux, but for some reason I am getting different colors, than it should be. My terminal is iTerm2 with Night Owl theme on Mac and I am connecting to an Ubuntu server where tmux is running. I would expect, that tmux should overwrite iTerm2's theme, but this is not happening. Any idea why?

1. Main window + statusbar colors are wrong:
@ubun

[2021-12-06 08:17] o0th commented on #142
tmux doesn't overwrite the main windows colors, it just output the status bar on the bottom. Not sure why you get those colors on the example 1. The example 2 is the normal behavior.

[2021-12-06 09:07] adrianmihalko commented on #142
Thanks that makes sense so I installed Dracula theme to iTerm2. Now colors in main window are ok, but status bar is still only good when launched with "-2".

$tmu
<img width="1280" alt="Screenshot 2021-12-06 at 10 04 35" src="https://user-images.githubusercontent.com/733361/144818086-a840b5dc-dc14-43c9-aa07-04b62d8e5cf0.png">
x

$tmux -2
<img width="1280" alt="Screenshot 2021-12-06 at 10 04 35" sr

[2021-12-07 08:47] o0th commented on #142
Can you try

[code]

Or installing [tmux-sensible](https://github.com/tmux-plugins/tmux-sensible) and see if it works?

[2021-12-09 00:28] adrianmihalko commented on #142
I tried, it's the same:

<img width="1181" alt="Screenshot 2021-12-09 at 01 27 31" src="https://user-images.githubusercontent.com/733361/145312476-cab05cf1-f75e-4f70-97b0-75918dead908.png">

Weird.

[2021-12-13 18:01] adrianmihalko commented on #142
I found out that this happens only when I am using Mosh. I see some similar issues [here](https://github.com/mobile-shell/mosh/issues/599), but I can't find any workaround.

[2021-12-15 08:40] #142 closed

[2021-12-17 01:50] ethancedwards8 commented on #142
@adrianmihalko I see that you've closed this, has this been resolved?

[2021-12-17 18:05] adrianmihalko commented on #142
@ethancedwards8 The first and most important: **$TERM outside tmux matters.**

...and the problem was that outside of tmux my default $TERM was set to xterm-color. I have also added AcceptEnv TERM to my sshd conf so $TERM is passed from the terminal I connecting with:

[code]

Now it works perfectly and I don't need to force tmux with -2.

[2021-12-22 23:06] adrianmihalko commented on #7
You mean something like this?

https://user-images.githubusercontent.com/733361/147164814-482585e4-bf1d-420c-8e85-7bc6f87ce100.mp4

[2021-12-22 23:16] adrianmihalko commented on #95
Without external tools it is almost impossible to reliable measure download/upload speed. I would recommend speedtest-cli (quasi standard in measuring internet speed), it is automatically finds the closest server and it is reliable. In docs we can add a note for this plugin that it needs speedtest-cli and in script we can check if it is installed (installation is simple as pip install speedtest-cl

[2021-12-23 15:00] ethancedwards8 commented on #7
This certainly looks good to me.

[2022-01-11 14:23] andrewsgreene commented on #95
Thanks for your thoughts. I came to the same conclusion, but also haven't been able to spend time on the enhancement.

[2022-01-11 20:29] dlvhdr opened #145 "Enhancement: Allow setting window flags characters"
### Describe the feature you'd like
A way to set the window flags for windows in tmux.
E.g. 🔍  if a window is zoomed (instead of Z) etc.

### Describe alternatives you've considered
I tried setting `set-option -g window-status-current-format '#I:#W#{?window_zoomed_flag, 🔍 ,}'`
but this doesn't work as dracula overrides it.

[2022-01-29 15:11] mohityadav7 opened #148 "Bug: The battery percentage contains extra padding on left."
### Describe the bug
The battery percentage has some extra left padding which does not look good. And there is no icon or percentage sign which gives a hint about what the number represents.

### To Reproduce
Steps to reproduce the behavior:
1. Add battery plugin in .tmux.config.
2. Observe the battery section in the status bar.

### Expected behavior
I would like it to look better. I think if we

[2022-02-15 12:02] CavalcanteLucas commented on #137
Thank you for your answer.. It really helped me.

However, how to use multiple plugins?

For instance, if i try to add the lines

[code]

The last plugin overwrites the first one.

[2022-02-19 14:34] delucca opened #154 "Missing vertical borders with Windows Terminal"
### Describe the bug
For some reason after I've installed Dracula theme in my WSL Windows Terminal Tmux session it broke my vertical bars while splitting a given window. It is interesting that the horizontal border works (as you can see in my screenshot)

Before installing Dracula, it was working as expected.

### To Reproduce
Steps to reproduce the behavior:
1. Open a Windows session
2. Install W

[2022-03-06 21:05] avatar-lavventura opened #155 "[help] How can I remove smile at the left corner?"
Would it be possible to remove the smiley at the left corner?

When I do `set -g @dracula-show-left-icon session` instead it justs replace it with `0`.

[2022-03-07 14:56] ethancedwards8 commented on #155
How are you creating your tmux session?

[2022-03-10 01:21] h-wata commented on #155
It was changed by the following settings in your `.tmux.conf`

[code]

more details here:
https://github.com/dracula/tmux/blob/a966029b9938badd9ed945b634b917e574c0c322/scripts/dracula.sh#L42-L52

[2022-03-10 09:10] avatar-lavventura commented on #155
I have tried: `set -g @dracula-show-left-icon session` but still green bar at the left corner `0` in it shows up:

<img width="440" alt="image" src="https://user-images.githubusercontent.com/18537398/157628835-7c85e91b-ec8e-4d75-a44e-3a75202c50e1.png">

Is it possible to suppress `| 0 |` as well?

[2022-03-11 01:05] h-wata commented on #155
You can remove it by changing the following part.

https://github.com/dracula/tmux/blob/a966029b9938badd9ed945b634b917e574c0c322/scripts/dracula.sh#L117-L123

change to:
[code]
![image](https://user-images.githubusercontent.com/20681658/157781852-13ae8ff0-a6f9-4c9f-9478-9b6328c36562.png)

[2022-03-13 12:15] avatar-lavventura commented on #155
@h-wata Thank you

[2022-03-13 12:15] #155 closed

[2022-05-26 18:32] lsorber opened #158 "Bug: network-bandwidth plugin doesn't work on macOS"
### Describe the bug
The network-bandwidth plugin doesn't print any numbers on macOS.

### To Reproduce
1. Enable the network-bandwidth plugin on macOS.

### Expected behavior
The network bandwidth to be displayed.

### System
 - OS: macOS
- Tmux Version: 3.2a1

[2022-06-08 18:05] macintacos opened #160 "Bug: Colors in status bar are incorrect until `tmux` config is manually sourced"
### Describe the bug

I am just starting to use `tmux` and wanted to configure Dracula first. Seems to be a bit inconsistent with setting the colors correctly on first launch of `tmux`.

The entirety of my configuration looks like this (using TPM as advised):

[code]

The icon I'm using probably won't render in GitHub properly, however that seems to work fine. The colors are just weird. When I fir

[2022-06-08 18:12] macintacos commented on #160
Oh - interesting. I noticed that on the website it says to use `run -b`: https://draculatheme.com/tmux#:~:text=Make%20sure%20run%20%2Db%20%27~/.tmux/plugins/tpm/tpm%27%20is%20at%20the%20bottom%20of%20your%20.tmux.conf

I updated my config to this, and it loads properly. So I'll go ahead and close this out.

Oddly enough though, I thought I had copy/pasted the code from TPM's README directly, and s

[2022-06-08 18:12] #160 closed

[2022-06-25 14:47] mikeslattery opened #162 "Enhancement: [add this functionality]"
### Describe the feature you'd like

Support for [256 color](https://github.com/dracula/spec/issues/3)

### Describe risks you've considered

It's possible some users could settle for 256 color config, if they can't easily figure out [how to get true color working](https://gist.github.com/andersevenrud/015e61af2fd264371032763d4ed965b6).

### Describe alternatives you've considered

My issue is tha

[2022-07-09 15:03] pataquets commented on #118
@martsa1 Since #143 is in and working (does for me), I guess this can be closed, right?

[2022-07-10 10:56] martsa1 commented on #118
I can see the changes and the PR looks good, but with the new option set in my config, I still see CPU usage, am I missing something?
[code]
![image](https://user-images.githubusercontent.com/3308997/178141958-924c7356-df77-49b5-97ae-ee8cdf68317a.png)

[2022-07-10 11:02] #118 closed

[2022-07-10 11:36] martsa1 commented on #118
For anyone else wanting this configuring tmux with nix, I made a custom derivation of the Dracula plugin like so (should work until a new version is released and picked up in nixpkgs):
[code]

[2022-07-10 18:30] pataquets commented on #95
@andrewsgreene : If you have a script which already does it, you might be interested in #163. Feedback welcome :grinning:.

[2022-07-12 01:27] ybbuc opened #164 "Bug: [this doesn't work]"
### Describe the bug
The center of the statusline has a different background color from the rest of the bar (and the dracula iTerm and vim themes).

### To Reproduce
Steps to reproduce the behavior:
1. Install package.
2. [Configure package](https://github.com/ybbuc/dotfiles/blob/main/tmux.conf).

### Expected behavior
The center of the statusline to have a background color that matches other drac

[2022-07-27 09:40] babepig018 opened #165 "Bug: doesn't display ram value"
### Describe the bug
the value of ram doesn't display on my os

### Screenshots
[![vpldII.png](https://s1.ax1x.com/2022/07/27/vpldII.png)](https://imgtu.com/i/vpldII)

### System
 - OS: Arch Linux
- Tmux Version:3.3a

[2022-07-30 12:51] dnsglk commented on #148
I had the same issue. The reason we see padding is that the heart symbol is not printed. So I just tried to pull the recent commits and it fixed the issue. Try the same.

[2022-08-26 10:37] tmigone commented on #94
This worked on my machine with macOS Monterrey 12.5.1:

[code]

[2022-09-12 19:24] mrgreen3 opened #170 "Loading via tmux.conf fails"
Added TPM to tmux and tried to load dracula theme as per guide, but after running Ctrl+b ... Shift I theme does not seem to load.

Is there any way to check if theme is loaded correctly?

[2022-09-12 20:57] JannoTjarks commented on #170
Hi @mrgreen3, could you please provide us your .tmux.conf for a deeper look into your configuration. And maybe show us the content of your .tmux folder.

[code]

This should be a minimal .tmux.conf file.

[2022-09-17 09:02] mrgreen3 commented on #170
I have followed above and all seems to be working now... must have missing something when I first tried.

Have powerline bar now working just need to read up on getting it how I want it.

Thanks so much for your great project and help ;-)

[2022-09-17 09:02] #170 closed

[2022-09-19 09:01] mrgreen3 opened #171 "Enhancement: Possible way to edit time and date..."
Basically I need to know where I can edit time and date...

Currently have Day (short hand) Date day/month then time with am/pm. Wish to change it to just show date and Hours and Minutes.

Did look through code but cannot see plugin for time..

[2022-09-19 09:16] mamantoha commented on #171
It's not possible to specify the date format.

https://github.com/dracula/tmux/blob/master/scripts/dracula.sh#L182-L193

I would like to have the ability to specify the format manually. For example "%I:%M:%S"

[2022-09-19 09:25] mrgreen3 commented on #171
Ahh can see it now.... changed line 189 to:

`script="%d/%m %I:%M${timezone}"`

[2022-09-24 16:40] yuhsienchiang commented on #165
I get a similar issue too.  CPU usage disappears and RAM usage only displays partially.

System
- OS: macOS 12.6
- Tmux: 3.3a
- Terminal emulator: Alacritty 0.10.1

<img width="1438" alt="Screen Shot 2022-09-25 at 2 33 49 am" src="https://user-images.githubusercontent.com/46809056/192108984-bca46e36-23cb-44b6-8200-baeddd7c31b7.png">

[2022-10-08 08:10] xahmad7 opened #172 "Bug: [this doesn't work on ubuntu 22.04]"
Hello
I'm using ubuntu 22.04 and cannot install it on tmux I followed the instructions
installed TPM, then Dracula Theme but nothing happend

[2022-10-09 10:12] JannoTjarks commented on #172
Could you please provide your tmux.conf file?

[2022-10-09 10:17] silentnights commented on #172
Same issue here. I have noticed some weird behavior after updating to Ubuntu 22.04, so I tried to uninstall and install the plugin, but it was not detected at all by tpm. !

I tried to uninstall other plugins and install them again and tpm does not have any issues with them.

[2022-10-09 10:37] silentnights commented on #172
After upgrading to Ubutu 22.04, I noticed a weird behavior. It looks like my previous configuration is not respected.

I tried to uninstall and reinstall with tpm, but still. All my configurations are not respected. I tried to comment out my previous configuration and limit the configuration to few dracula plugins but still, it does not take any effect.

Here is my .tmux.conf

`set -g @plugin 'tmu

[2022-10-09 16:51] damienbutt opened #173 "Bug: Weather - Location Unavailable - macOS"
### Describe the bug
Weather just displays "Location Unavailable"

### To Reproduce
Steps to reproduce the behavior:
1. Enable weather module in `~/.tmux.conf`on macOS.

### Expected behavior
Displays weather and location in tmux status bar.

### System
 - OS: macOS 12.6
- Tmux Version: 3.3a
- Terminal Emulator: iTerm2 or Terminal

[2022-10-10 00:16] xahmad7 commented on #172
The solution is to run this command after editing .tmuxconf
run from inside tmux
~/.tmux/plugins/tpm/bin/install_plugins

And then the theme will be installed

[2022-10-10 13:49] damienbutt commented on #173
Weird but today the weather suddenly appeared for a short time. Although the location was incorrect.

But now has gone back to "Location Unavailable"

[2022-10-11 15:35] OnkarRuikar commented on #74
Looks like it's not made configurable in tmux: https://github.com/tmux/tmux/blob/master/window-clock.c#L227-L233

Update the patterns and [re-build](https://github.com/tmux/tmux#from-version-control) the tmux:
[code]

[2022-10-19 04:16] babepig018 commented on #165
Solved!
check its source code

![2022-10-19_12-03](https://user-images.githubusercontent.com/46259718/196594994-e2698952-8b66-463f-b0fd-cf9728274f97.png)

It get data by intercepting the output of `free`

But I set the system `LANG` to Chinese,  the `free` output is chinese too

![2022-10-19_12-08](https://user-images.githubusercontent.com/46259718/196595496-902e6c66-10f2-4e2a-9485-b4a4eb04fe10.pn

[2022-11-07 11:43] pentago opened #178 "'~/.tmux/plugins/tpm/tpm' returned 126"
Upon adding this plugin without any configuration options, tmux throws following error:

'~/.tmux/plugins/tpm/tpm' returned 126

The error is gone after dracula plugin is disabled.

I'm using: MacOS 13 (Ventura) with tmux 3.3a on M1 Apple Silicon (arm64)

Anything else I could provide?

[2022-11-07 12:11] pentago commented on #178
It is installed of course, not a newb :=

[2022-11-07 17:31] ramaskez commented on #178
I also get the exact same result using Debian 11 (5.10.0-19-amd64) and tmux 3.1c.

Again TPM is installed and the error is gone when I disable the plugin.

Please let me know if you need me to provide any further details.

[2022-11-07 18:02] ramaskez commented on #178
After some digging if I fresh install Dracula:

edit ~/.tmux/plugins/tmux/scripts/dracula.sh and on line 175 add fi as the block:
[code]

[2022-11-07 18:09] bryan-hoang commented on #178
I've made #179 to implement @ramaskez's suggested fix, as it also worked for me.

[2022-11-08 12:06] pentago commented on #178
Still having the same issue with this fix, not sure how it fixed it for you..

[2022-11-08 14:09] pushkar96 commented on #178
I wasted my complete day and was about to submit a PR when I saw someone just did.
Adding `fi` worked for me

The other thing you have to do is:
1. chmod +x dracula.sh
2. chmod +x dracula.tmux [This might not be needed]

[2022-11-08 15:18] #178 closed

[2022-11-12 04:46] silentnights commented on #172
The gray area in the lower bar issue seems to be resolved by itself at some point. Not sure, what caused it in the first place. I have a desktop and a laptop, both running Ubuntu 22.04. Both had the same issue. The desktop behaved normally a few days ago, potentially after some update/restart. I tried the same with the laptop, but for some reason `tpm` was refusing to load. So, I ended up just del

[2022-11-24 21:24] aanzolaavila opened #180 "Bug: network_ping is not set as executable"
### Describe the bug
the network_ping.sh plugin is not set as executable in its permissions

### To Reproduce
execute `./network_ping.sh` in the `$HOME/.tmux/plugins/tmux/scripts` directory and it will display errors.

### Expected behavior
it should execute the script and output the ping for a server (e.g. `google.com`)

### Screenshots
<img width="719" alt="image" src="https://user-images.github